/bootstrap/compiled.php
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
.vagrant
public/uploads/*
app/storage
data
nginx/certs
/app/storage/cache/*
/app/storage/views/*
/app/storage/sessions/*
/app/storage/logs/*
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/jsLinters/jshint.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/propar.iml
/public/css/source/less/theme.css
/public/css/source/less/theme.css.map
/.idea/vcs.xml
/.idea/watcherTasks.xml

/vendor/
